/* IMPORT DE FONTES */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400&family=Playball&display=swap');


* {
    box-sizing: border-box;
}

html, body, .root, .App{
    width: 100%;
    height: 100%;
}
body{
    background-color: #E5E5E5;
}
.root{ 
    font-family: 'Lexend Deca';
    width: 100%;
    height: 100%;
}